body{
    margin:0;
}

header ,footer{
    text-decoration: none;
    display: flex;
    background-color: black;
    color: white;
    align-items: baseline;
    justify-content: space-around;
}
ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}
img{
    width: 600px;
    height: 400px;
}
a{
    text-decoration: none;
    color: white;
}

