body{
    margin:0;
}
.element{
    margin: 0;
    padding: 0;
}
main{
    margin:0;
    flex-direction: column;
    display: flex; 
    justify-content: center;
}
header ,footer{
    text-decoration: none;
    display: flex;
    background-color: black;
    color: white;
    align-items: baseline;
    justify-content: space-around;
}
ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    
}

a{
    text-decoration: none;
    color: white;
}

